adapters:adapters.md
adapters/in:adapters_in.md
adapters/in/rest:adapters_in_rest.md
adapters/in/rest/dtos:adapters_in_rest_dtos.md
adapters/in/rest/dtos/common:adapters_in_rest_dtos_common.md
adapters/in/rest/dtos/requests:adapters_in_rest_dtos_requests.md
adapters/in/rest/dtos/responses:adapters_in_rest_dtos_responses.md
adapters/in/rest/error_handling:adapters_in_rest_error_handling.md
adapters/in/rest/mappers:adapters_in_rest_mappers.md
adapters/in/rest/resources:adapters_in_rest_resources.md

adapters/in/messaging:adapters_in_messaging.md
adapters/in/messaging/broker_name:adapters_in_messaging_broker_name.md
adapters/in/messaging/broker_name/config:adapters_in_messaging_broker_name_config.md
adapters/in/messaging/broker_name/dtos:adapters_in_messaging_broker_name_dtos.md
adapters/in/messaging/broker_name/error_handling:adapters_in_messaging_broker_name_error_handling.md
adapters/in/messaging/broker_name/listeners:adapters_in_messaging_broker_name_listeners.md
adapters/in/messaging/broker_name/mappers:adapters_in_messaging_broker_name_mappers.md

adapters/out:adapters_out.md
adapters/out/databases:adapters_out_databases.md
adapters/out/databases/db_name:adapters_out_databases_db_name.md
adapters/out/databases/db_name/config:adapters_out_databases_db_name_config.md
adapters/out/databases/db_name/documents:adapters_out_databases_db_name_documents.md
adapters/out/databases/db_name/entities:adapters_out_databases_db_name_entities.md
adapters/out/databases/db_name/error_handling:adapters_out_databases_db_name_error_handling.md
adapters/out/databases/db_name/mappers:adapters_out_databases_db_name_mappers.md

adapters/out/messaging:adapters_out_messaging.md
adapters/out/messaging/broker_name:adapters_out_messaging_broker_name.md
adapters/out/messaging/broker_name/error_handling:adapters_out_messaging_broker_name_error_handling.md
adapters/out/messaging/broker_name/mappers:adapters_out_messaging_broker_name_mappers.md
adapters/out/messaging/broker_name/producers:adapters_out_messaging_broker_name_producers.md

adapters/out/rest:adapters_out_rest.md
adapters/out/rest/clients:adapters_out_rest_clients.md
adapters/out/rest/clients/config:adapters_out_rest_clients_config.md
adapters/out/rest/clients/dtos:adapters_out_rest_clients_dtos.md
adapters/out/rest/clients/error_handling:adapters_out_rest_clients_error_handling.md
adapters/out/rest/clients/mappers:adapters_out_rest_clients_error_mappers.md

adapters/shared:adapters_shared.md
adapters/shared/config:adapters_shared_config.md
adapters/shared/constants:adapters_shared_constants.md
adapters/shared/errors:adapters_shared_errors.md
adapters/shared/events:adapters_shared_events.md
adapters/shared/utils:adapters_shared_utils.md

application:application.md
application/ports:application_ports.md
application/ports/in:application_ports_in.md
application/ports/out:application_ports_out.md
application/ports/out/repositories:application_ports_out_repositories.md
application/usecases:application_use_cases.md
application/usecases/commands:application_use_cases_commands.md
application/usecases/queries:application_use_cases_queries.md
application/models:application_models.md
application/models/commands:application_models_commands.md
application/models/queries:application_models_queries.md
application/mappers:application_mappers.md

domain:domain.md
domain/model:domain_model.md
domain/model/aggregates:domain_model_agreggates.md
domain/model/entities:domain_model_entities.md
domain/model/valueobjects:domain_model_value_objects.md
domain/factories:domain_factories.md
domain/services:domain_services.md
domain/events:domain_events.md
domain/specifications:domain_specifications.md
domain/exceptions:domain_exceptions.md
